/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	padding: 0.8rem 2rem;
	font-size: 1rem;
	border: none;
	outline: none;
	font-family: neue;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0.5rem 1rem;
	transition: 0.3s ease;
	border-radius: 0.2rem;
	background-color: #000000;
	border: 2px solid #242424 ;
	color: #cfcfcf;
}

@font-face {
 font-family: drukcond;
 src: url("../fonts/DrukCond-Super-Cy-Gr-Web.ttf");
}

@font-face {
	font-family:neue;
	src: url("../fonts/NeueMontreal-Regular.otf");
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#ffffff;
	--color-background:#000000;
}
  
@keyframes marquee {
	from { transform: translateX(0); }
	to { transform: translateX(-50%); }
  }
 
@keyframes marqueeRL {
	0% {
		transform: translate(0, 0);
	}
	100%{
		transform: translate(-100%, 0)
	}
  } 

/* @keyframes scrolling {
	0% { transform: translateX(0); }
	100% { transform: translateY(calc(-1*20*9));}
} */

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin : 0;
  font-family: neue; 
}

p {
	line-height: 1.5rem;
}

h2 {
	font-family: drukcond;
	font-size: 2.4rem;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

nav {
	background-color: #000000;
	padding: 2rem;
	border-bottom: 1px solid #242424;
	text-transform: uppercase;
}

nav ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: #ffffff;
}

.center{
	text-align: center;
	
}

.marquee {
	position: relative;
	width: 100vw;
	max-width: 100%;
	height: 10rem;
	color: #ffffff;
	font-size: 6.66rem;
	line-height: 12rem;
	margin-right: 0rem;
	text-transform: uppercase;
	letter-spacing: 0.22rem;
	font-family: drukcond;
	overflow: hidden;
  }
  
  .track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 25s linear infinite;
  }

  .track-onscroll-l {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 25s linear infinite;
  }
/* 
  .track-onscroll-RL {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marqueeRL 20s linear infinite;
  } */

  figure {
	display: flex;
  }
  
  figure img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center; /* normally it's the default value */
  }

.projects{
	width: 100vw;
	display: flex;
	flex-direction: column
}

.projects img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center; /* normally it's the default value */	
}

.nda {
	color:  #454545 ;
	text-align: center;

}

.wrapper{
	width: 100vw;
	padding: 1rem
}

.expertise{
	margin : 2.5rem 1rem 1rem 1rem;
	max-width: 90vw;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.expertise p{
	font-family: drukcond;
	font-size: 2rem;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 0.5rem;
}

.expertise img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center; /* normally it's the default value */	
	margin-bottom: 2rem;		
}

.center-parent {
	display: flex;
    align-items: center;
    justify-content: center;
}

.outline{
	color: #000000;
	-webkit-text-stroke: 1px white;
}

footer{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 5rem;
	text-transform: uppercase;
	position: relative;
}

footer h3{
	font-family: drukcond;
	font-size: 5.333rem;
	text-transform: uppercase;
	text-decoration: underline;
	margin-top: -1rem;
} 

.purplcontainer{
	/* display: flex; */
	width: 50vw;
	height: 6rem;
	transform : translate(-50%, -50%);
	overflow : hidden;
	margin-left: auto;
	border: 2px solid #7c68fd;
	border-radius: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
}

.marqueeW{
	color: #7c68fd;
	font-size: 2.5rem;
	line-height: 12rem;
	margin-right: 0rem;
	text-transform: uppercase;
	letter-spacing: 0.22rem;
	font-family: neue;
	justify-content: center;
}

footer ul{
	margin-top: 6rem;
	list-style: none;
	padding: 0;
}

footer li {
	padding-top: 2rem;
} a{
	color: white;
	text-decoration: underline;
	
}


/* ABOOUT ME ANIMATION */
/*  -----------------  */
.scroll-container {
	height: 100vh;
	background: black;
  }
  
  .speak {
	margin: 150vh 0;
  }
  .speak:first-child {
	margin-top: -50vh;
  }
  
  .speak[data-scroll] {
	transform: translatey(calc(var(--viewport-y) * 30vh));
	opacity: calc(var(--visible-y));
  }
  
  .scroll-sequence__content {
	padding: 4em;
  }
  
  .scroll-sequence {
	position: sticky;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -5;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  }
  
  h1 {
	font-size: 3em;
	width: 60wv;
	margin-bottom: 10px;
  }
  @media screen and (max-width: 600px) {
	h1 {
	  font-size: 2em;
	  width: 100%;
	}
  }
  
  :root {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: white;
	text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  }
  
  body {
	margin: 0;
  }
  
  * {
	box-sizing: border-box;
  }